* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-item {
    margin: 5px;
}

.arrow {
    width: 30%;
    min-width: 50px;
    cursor: pointer;
}

.horizontal {
    flex-direction: row;
}

.horizontal textarea {
    display: block;
    width: 400px;
    min-height: 600px;
    resize: horizontal;
}

.horizontal .arrow {
    transform: rotate(1turn);
}

.vertical {
    flex-direction: column;
}

.vertical textarea {
    display: block;
    min-width: 300px;
    min-height: 400px;
}

.vertical .arrow {
    width: 15%;
    margin: 60px;
    transform: rotate(0.25turn);
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}