* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-item {
    margin: 5px;
}

.arrow {
    width: 30%;
    min-width: 50px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Vertical view */
@media all and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .arrow {
        width: 15%;
        margin: 60px;
        transform: rotate(0.25turn);
    }

    textarea {
        display: block;
        min-width: 300px;
        min-height: 400px;
    }
}

/* Horizontal view */
@media all and (min-width: 600px) {
    .wrapper {
        flex-direction: row;
    }

    .arrow {
        transform: rotate(1turn);
    } 

    textarea {
        display: block;
        width: 400px;
        min-height: 600px;
        resize: horizontal;
    }
}